body {
    margin:0%;
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 20px;
    
}
.orange-color {
    color: chocolate;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
}
.up-banner{
    background-repeat: no-repeat;
    background-image: url(image/top-banner.png);
}
section{
    height: 500px;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
}
.Hobby{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;

}
.experi-araa{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left:7px solid ;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}